body{
    font-family: "Poppins", sans-serif;
}

#header-drawer-button > #drawer-open {
    display: block
}

#header-drawer-button > #drawer-close {
    display: none
}

#header-drawer-button.open > #drawer-open {
    display: none
}

#header-drawer-button.open > #drawer-close {
    display: block
}

#drawer.open {
    height: 100%
}
